body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

/*copiar*/
.logo{
  width: 40%;
  display:inline-block;
  vertical-align:top;
  padding: 8px;
}
/*MENu 1*/
.menú{
  width: 58%;
  display:inline-block;
  vertical-align:top;
}

h3{
  font-size: 20px;
  font-style: normal;

}
nav{
  margin: 0px;
  padding: 20px;
}

nav ul li{
  display: inline-block;
  width: 15%;
  padding: 0.50em 0.05em;
  color: white;
  vertical-align: baseline;
  /*background-color: #8399B3;
  box-shadow: 1px 1px 3px #000;*/
  text-align: center;
  margin:auto;
}

nav ul li :hover{

  border-bottom: solid #ff0000;

}
nav ul li a{
  color: black;
    text-decoration: none;
    font-size: 80%;
}


h1, h2{
  text-align: center;
}
.whiteboard{
  background-color: #eee;
  width:1200px;
  border: 3px solid rgb(210, 206, 94);
  box-shadow: 1px 1px 3px #000;
  margin: 25px auto;
  padding:16px;
  clear:both;
  overflow: auto;
  min-height:400px;
}

.sticky{
  float:left;
  background-color: rgb(210, 206, 94);
  width:220px;
  min-height: 250px;
  padding:16px 8px 4px 8px;
  margin-top: 0px;
  margin-bottom: 8px;
  margin-right:8px;
  box-shadow: 1px 1px 5px #333;
}
.sticky span{
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border:1px  solid rgb(107, 28, 7);
  background-color: rgb(242, 67, 29);
  margin: 2px auto;
  box-shadow:3px 3px 7px #333;
}
.sticky p{
  font-family: 'Shadows Into Light', cursive;
}

.sticky:nth-child(2n){
  width:300px;
  margin-top: 200px;
}

.sticky:nth-child(3n){
  width:195px;
}

.sticky:nth-child(5n){
  width:300px;
  margin-top: 200px;
}

@media (min-width:480px){
  .whiteboard{
    width:500px;
  }
  .sticky:nth-child(1n){
    margin: 10px 10px 5px 10px;
  }
}
@media (min-width:970px){
  .whiteboard{
    width: 1200px;
  }

}
